{{#*inline "page"}}

{{#if data}}
<p>Error: {{ data }}</p>
{{/if}}

<form action="/signin" method="post" accept-charset="utf-8">
  <label for="member_email">email</label>
  <input type="text" name="member_email" id="member_email" value="" />
  <label for="password">password</label>
  <input type="password" name="password" id="password" value="" />
  <p><input type="submit" value="Sign in"></p>
</form>

{{/inline}}
{{~> (parent)~}}
