<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title}}</title>
  <meta name="description" content="Hello World">
  <meta name="author" content="Jeff Cousino">
  <link rel="icon" type="image/svg" href="/static/logos/clubman_icon.png" sizes="any"/>
  <link rel="stylesheet" href="/static/styles/clubman.css"/>
</head>
<body>
  {{> components/nav}}
  {{~> page}}
  {{> components/footer}}
</body>
</html>
