<div class="navbar">
  <div class="logo">
    <a href="/">
      <img src="/static/logos/clubman_logo.svg" alt="CLUBMAN" style="height: 50px;"/>
    </a>
  </div>
  <div class="navmenu">
    {{#if is_member}}
      <a href="/signout">Sign out</a>
    {{else}}
      <a href="/signin">Sign in</a>
    {{/if}}
  </div>
</div>